.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60px;
  background: #fff;
  padding: 0 20px;
  border-radius: 5px;

  input {
    width: 250px;
  }
}

.table-container {
  margin-top: 30px;
  background: #fff;
  border-radius: 5px;
  padding: 10px;

  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  table {
    tbody {
      td {
        .action {
          display: flex;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}

.no-file-record {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-top: 20px;
  height: calc(100vh - 180px);
}
