<div class="container mt-3">
  <hr>
  <div class="row">


    <div class="col-md-3 d-flex justify-content-end">
      <button nbButton shape="semi-round" size="small" status="success" class="height" id="addBtn" (click)="removeDuplicates()">Remove Duplicates </button>
    </div>
    <div class="col-md-6">
      <h2 class="mt-2">Your notes</h2>
    </div>
    <div class="col-md-3">
      <input class="form-control mr-sm-2" type="search" ng-model="searchText" id="searchText" [(ngModel)]="txtSearch"
        placeholder="Search by Note" aria-label="Search">
      <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button> -->
    </div>
  </div>

  <hr>

  <div id="notes" class="row container-fluid justify-content-center">

    <nb-card nb-card accent="info" status="warning" id="card" class="card   my-2 mx-2 " style="width: 18rem; " ng-repeat="item in notesObj | filter:searchText"
      *ngFor="let item of notesObj | filter:txtSearch; index as i">
      <div class="card-body" id="cardBody">
        <div class="row">
          <div class="col-md-9 pl-0 pr-0">

            <h1 class="card-title" id="cardTitle">Note {{i + 1}}</h1>
            <div class="row">
              <div class="col-md-10 ml-4">
                <input type="checkbox" class="form-check-input" [(ngModel)]="item.isChecked" (change)="markDone($event)">
                <label class="form-check-label" for="exampleCheck1">Mark As Complete</label>
              </div>
            </div>
          </div>
          <div class="col-md-3 pl-0 pr-0 mt-2">
            <span><i class="fa-solid fa-trash-can " (click)="deleteNote(i)" matTooltip="Delete note"></i></span>
            <span><i class="fa-solid fa-pen-to-square  ml-2"  (click)="editNote(i)" matTooltip="Edit note"></i></span>
          </div>
        </div>

        <h2 id="h2"> {{item.title}}</h2>
        <p class="card-text" id="note"> {{item.note}}</p>

      </div>
    </nb-card>

  </div>
</div>

