.add-todo-container {
  background: #fff;
  padding: 20px;
  width: 600px;
  border-radius: 10px;
}

.action-container {
  margin-top: 25px;
  position: relative;
  margin-left: 370px;
}
.fileUpload{
  display: none;
}

.uploadBtn{
  width: 140px;
  height: 30px;
}

