
.addFolderForm{
  display: none;
}

.newFile{
  display: none;
}
.cursor{
  cursor: pointer;
}
.btn1{
  height: 28px;
  border-radius: 5px;

}

.w20{
  width: 50px;
}
.height{
  height: 5% !important;
}
.fa-solid{
  color: rgb(180, 180, 224);

 }
.folder2 , .folder4{
  display: none;
}
.mainFolder[aria-expanded=true] .myIcon1 {
  transition: .3s transform ease-in-out;
  transform: rotate(90deg);
 }
.mainFolder[aria-expanded=true] .folder1{
  display: none;
}
.mainFolder[aria-expanded=true] .folder2{
 display: inline-block;
}
.subFolder[aria-expanded=true] .myIcon2 {
  transition: .3s transform ease-in-out;
  transform: rotate(90deg);
 }
 .subFolder[aria-expanded=true] .folder3{
  display: none;
}
.subFolder[aria-expanded=true] .folder4{
 display: inline-block;
}
.subFile[aria-expanded=true] .plus2 {
  transition: .3s transform ease-in-out;
  transform: rotate(45deg);
 }
.addFolder[aria-expanded=true] .plus1 {
  transition: .3s transform ease-in-out;
  transform: rotate(45deg);
 }
 .fileIcon{
   color:  rgb(180, 180, 224);;
 }
