.addFolderForm{
  display: none;
}
.addfileForm{
  display: none;
}
.newFile{
  display: none;
}
.cursor{
  cursor: pointer;
}
h4 :hover{
  background-color: blue;
  color:white;
  border-radius: 5px;
}
