.showContainter{
  background-color: white;
  padding: 40px;
  width: 800px;
  height: 500px;
  border-radius: 10px;
}
.fileUpload{
  display: none;
}
.card{
  border: none;
}
.closeCircle{
  margin-left: 70px;
}
.Icon{
  margin-top: 5px;
  margin-left: 10px;
}
.carousel{
  margin-left: 60px;
  width: 700px;
}
