.showContainter{
  background-color: white;
  padding: 40px;
  width: 920px;
  height: 500px;
  border-radius: 10px;
}
.fileUpload{
  display: none;
}
.card{
  border: none;
}
.closeCircle{
  margin-left: 120px;
}
.Icon{
  margin-top: 5px;
  margin-left: 10px;
}
.carousel{
  margin-left: 35px;
  width: 560px;
}
img{
  margin: auto;
}
.span{
  display: flex;
 justify-content: center;
}
.p{
  margin-top: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.h4{
  margin-top: 6px;
}
.file-upload-container{
  width: 200px;

  height: 210px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
h3{
  margin: 90px 0px 0px 200px;
}
