<div class="container-fluid " *ngIf="flag !=1">
  <div class="row">

    <p>are you sure you want to delete data</p>

  </div>
  <div class="row">
    <div class="col-md-6">
      <button class="btn btn-block btn-secondary" [mat-dialog-close]="false">No</button>
    </div>
    <div class="col-md-6">
      <button class="btn btn-block btn-warning" [mat-dialog-close]="true">yes</button>
    </div>
  </div>
</div>
<div class="container-fluid showContainter " *ngIf="flag ==1">
  <div class="row">

    <h2>SHOW TODO</h2>
    <input #fileUpload type="file" id="fileInput" class="fileUpload" (change)="onChange($event)">
    <nb-icon icon="plus-circle-outline" class="Icon" matTooltip="add multiple files" (click)="fileUpload.click()">
    </nb-icon>

    <input type="text" nbInput fullWidth [value]="list?.name" placeholder="Todo Title" disabled />
    <textarea nbInput fullWidth [value]="list?.discription" placeholder="Todo Description" class="mt-3"
      disabled></textarea>
  </div>


  <div class="row mt-4">
    <div class="col-md-3">
      <div class="file-upload-container">


        <ngx-dropzone (change)="getFile($event)">
          <ngx-dropzone-label>
            <nb-icon icon="cloud-upload-outline"></nb-icon>
            <h5>Drop Your File Here</h5>
          </ngx-dropzone-label>

        </ngx-dropzone>
      </div>
    </div>
    <div class="col-md-8 mt-4">
      <!-- SLICK CAROUSEL START-->
      <ngx-slick-carousel class="carousel" *ngIf="attachedFiles.length!=0" #slickModal="slick-carousel"
        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let files of attachedFiles; index as index" class="slide card">
          <nb-icon class="closeCircle" icon="close-circle-outline" matTooltip="delete file"
            (click)="deleteFile(files,index)"></nb-icon>
          <span (click)="openFile(files)">
            <img [src]="files.fileImage" alt="" width="80px" height="100px">
          </span>
          <span class="span">
            <h4 class="p">
              {{files.fileName[0]}}
            </h4>
            <h4 class="h4">
              .{{files.fileName[1]}}
            </h4>
          </span>
        </div>
      </ngx-slick-carousel>
      <!-- SLICK CAROUSEL END -->
      <h3 *ngIf="attachedFiles.length==0">no files are attached</h3>
    </div>

  </div>


</div>
