<div class="card mainCard col-md-12" [formGroup]="toDoForm">
  <div class="row">
    <div class="col-md-12 mt-2 ">
      <div class="row">
        <div class="col-md-6 mt-2 ">
          <div class="row">

            <i class="fa-solid fa-circle-chevron-down mr-1 ml-3 mt-2"></i>
            <h2>{{listName}}</h2>
          </div>
        </div>
      </div>
      <div class="buttonInside">

        <input class="form-control" formControlName="name" placeholder="ADD TODO...">
        <button id="erase" class="btnn" (click)="clear()"><i class="fa-solid fa-xmark"></i></button>
        <button class="btn btn-primary btn-sm btnn1" (click)="save1(id)">save</button>
      </div>

    </div>
  </div>
  <div class="row mb-2">

    <div class="col-md-4 mt-2">
      <i class="fa-solid fa-circle-chevron-down mr-1"></i>
      <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample"
        aria-expanded="false" aria-controls="collapseExample" (click)="showToDos()">
        TO DO
      </button>
      <span class="ml-2">

        {{todosLength}}
      </span>
      <span>TASKS</span>
    </div>

  </div>
  <div class="collapse" id="collapseExample">
    <div class="card card-body subCard mt-1 mb-3">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Serial No
            </th>
            <th scope="col">TASKS NAME</th>
            <th scope="col">ACTIONS</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of toDos | filter:txt;index as i">
            <th scope="row">
              {{i+1}}
            </th>
            <td class="cursor" (click)="openTask(item.id,i)" matTooltip="Click To Add Discription">

              {{item.name}}

            </td>
            <td>
              <span><i class="fa-solid fa-trash-can ml-3 cursor" (click)="deleteToDo(item.id,i)"
                  matTooltip="Delete todo"></i></span>
              <span><i class="fa-solid fa-pen-to-square  ml-2 cursor" matTooltip="Edit note"
                  (click)="editToDo(item.id,i)"></i></span>
            </td>

          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
