<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">
      <div class="add-folder">
        <nb-icon icon="plus-outline" class="Icon" matTooltip="Add New Folder" (click)="addFolder()"></nb-icon>
      </div>

      <div class="folder-container">
        <div class="folder-title" *ngFor="let folder of folders">
          <nb-accordion>
            <nb-accordion-item>
              <nb-accordion-item-header class="nbAccordian">
                <!-- <nb-icon icon="plus-outline"></nb-icon> -->
                <div class="folder-row">
                  <span>
                    <nb-icon icon="book-outline" class="book"></nb-icon>
                    <nb-icon icon="book-open-outline" class="bookOpen"></nb-icon>
                  </span>
                  <span>
                    {{ folder?.folderName }}
                  </span>

                </div>
              </nb-accordion-item-header>

              <nb-accordion-item-body>
                <div class="files-container">
                  <p (click)="addFile(folder.id)" class="cursor mt-2">
                    <span class="add-file">
                      <nb-icon icon="plus-outline" matTooltip="Add New File"></nb-icon>
                      Add File
                    </span>
                  </p>
                  <div class="file-list" *ngFor="let file of folder.files;index as index">


                    <p (click)="selectFile(file)" class="p1 cursor">
                      <span>
                        <nb-icon icon="file-text-outline"></nb-icon>
                      </span>
                      <span>

                        {{ file.title }}
                      </span>
                      <span>
                        <nb-icon icon="more-vertical-outline" [nbPopover]="template" nbPopoverPlacement="right">
                        </nb-icon>
                      </span>
                      <ng-template  #template>
                        <a class="dropdown-item cursor" (click)="editFile(file)">Rename</a>
                        <a class="dropdown-item cursor" (click)="deleteFile(file,index)">Delete</a>
                      </ng-template>
                    </p>
                  </div>
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>

        <div class="no-record" *ngIf="!folders.length">No Data</div>
      </div>
    </div>
  </div>
</div>
