<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="add-folder-container" [formGroup]="newFileForm">
        <h2>Add File</h2>

        <input type="text" nbInput fullWidth formControlName="fileName" placeholder="File Name" />

        <div class="action-container">
          <button nbButton status="basic" (click)="close()">Cancel</button>
          <button nbButton status="info" (click)="save()">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>
