@use "themes" as *;

@use "@nebular/theme/styles/globals" as *;

@include nb-install() {
  @include nb-theme-global();
}
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

nb-layout .layout .layout-container nb-sidebar.fixed,
nb-layout .layout .layout-container nb-sidebar .main-container-fixed {
  top: 0 !important;
}

nb-layout {
  nav {
    justify-content: center !important;
  }
}

nb-icon {
  cursor: pointer;
  color: gray;
}

nb-accordion-item-header .expansion-indicator {
  left: 0rem !important;
}
nb-accordion-item-body .item-body{
  margin-top: -20px !important;
  margin-bottom: -35px !important;
}
.Icon:hover{
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  color: #7b68ee;
}
.slick-prev:before, .slick-next:before {
  color: #7b68ee !important;
}
